<!DOCTYPE html>
<html>
<head>
    <title>Pokédex</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>
<body>
    <h1>Welcome to the Pokédex</h1>
    <form method="POST" action="/add">
        <label for="pokemon">Enter the Pokémon's name:</label><br>
        <input type="text" id="pokemon" name="pokemon"><br>
        <input type="submit" value="Register Pokémon">
    </form>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    <br>
    <a href="/show_all">View all Pokémon</a>
    <br>
    <a href="/show_stats">Stats of all Pokémon</a>
    <br>
    <a href="/clear">Clear files</a>
    <br>
</body>
</html>
