<!DOCTYPE html>
<html>
<head>
    <title>Pokémon Stats</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>Pokémon Stats</h1>
    <div>
        {{ plot_div|safe }}
    </div>
    <div class="pokemon-container">
        {% for pokemon in pokemons_stats %}
            <div>
                <img src="{{ pokemon.image }}" alt="{{ pokemon.name }}">
                <p>{{ pokemon.name }}</p>
            </div>
        {% endfor %}
    </div>
    <a href="/">Back</a>
</body>
</html>
